.working-hour-box {
  display: flex;
  flex-wrap: wrap;
}

.working-hour-bar-chart {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.working-hour-color-info {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 6px;
}
