.box-container {
  display: flex;
  flex-direction: row;
}

.bordered-box {
  border: 2px solid #e5e8ec !important;
}

.summary-card-metric-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.summary-card-metric {
  border: 1px solid #ddd;
  border-radius: 6px;
  flex: 1;
}

.summary-card-metric tr td {
  border: 0px;
  border-bottom: 1px solid #ddd;
}

.summary-card-metric tr:last-child td {
  border: 0px !important;
}

.summary-card-metric tr td:last-child {
  border-left: 0px !important;
}

.summary-card-metric-numbers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.task-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.horizontal-scroll-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: auto;
  padding-bottom: 12px;
}

.horizontal-scroll-content {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.horizontal-scroll-content::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}