.horizontal-scroll-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: auto;
  padding-bottom: 12px;
}

.horizontal-scroll-content {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.horizontal-scroll-content::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}