.route-not-exist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.route-not-exist a {
  font-size: 18px;
  text-decoration: underline;
}